<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDw-tMAdfzqYjHo15QI-PiLZho8QOLuugs</string>
	<key>GCM_SENDER_ID</key>
	<string>681436885689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.predictPro</string>
	<key>PROJECT_ID</key>
	<string>predict-pro-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>predict-pro-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681436885689:ios:193ed2a74e527fdee7e168</string>
</dict>
</plist>